NODE_ID={{ inventory_hostname }}
SERIAL_DEVICE=auto
SERIAL_BAUD=115200
AMQP_URL={{ uwb_broker_uri }}
DATA_EXCHANGE=uwb.data
CONTROL_EXCHANGE=uwb.control
ERROR_EXCHANGE=uwb.errors
PUBLISH_INTERVAL_MS=200
MAX_MESSAGES_PER_SECOND=5
MAX_MEASUREMENTS_PER_MESSAGE=25
MAX_PENDING_MEASUREMENTS=5000
RECONNECT_MIN_MS=500
RECONNECT_MAX_MS=10000
